---
	// Código Server Side Only - Momento de construcción BUILD TIME
	import MainLayout from "../layouts/MainLayout.astro"

	const title = 'Pokemon Static | Home page';
---

	<MainLayout title={title}	>
		<h1 class="text-3xl">Astro</h1>
	</MainLayout>





